@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
/*index.css*/
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }
  
  body {
    font-family: 'Raleway','Titillium Web', sans-serif;
      padding:0px;
  }
  

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}
.leftside{
    background-color:aliceblue;
}
.rightside{
    background-color: white;
}
.h4{
    padding-top: 15px;
}
.nav-link{
    cursor:pointer;
}
.img{
    height: 80px;
    width:50px;
}

#adminForm, #login, #homeSide{
    margin-top: 130px; 
    width: 100%; 
    height: 100%; 
  }
  #signup{
    margin-top: 60px; 
    width: 100%; 
    height: 100%; 
  }
  /*-----------home side-----------*/
   .homeText{
    text-align: center;
    display: block;
    font-size: 30px !important;
    margin-top: 30px;
  }
 
  /* -------Admin and Student form ---------*/
  h1, h2, .user, .pass{ 
    text-align: center;
    display: block;
  }
  h1{ 
    font-weight: bold;
    font-size: 30px;
    margin: 160px auto;
    margin-bottom: 50px;
  }
  
  .user, .pass, .login{
    width: 60%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 30px;
    display: block;
    align-items: center;
    margin: 10px auto;
  }
  
  .user, .pass{ background: #ecf0f1; }
  
  .login, .button{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  background-color: rgb(201, 229, 253);
  color:black;
    transition: background 0.4s ease;
  }
  
  .login:hover{ background: rgb(188, 213, 235); }
  .button:hover{ background: rgb(188, 213, 235); }

  .button{
 width: 60%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;
    display: block;
    align-items: center;
    margin: 10px auto;
  }

 input{
     text-align: center;
    width: 60%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px !important;
    display: block;
    align-items: center;
    margin: 10px auto !important;
    background: #ecf0f1 !important;
}
  h1 {
    text-align: center;
    color: rgb(114, 167, 218);
    font-weight: 300;
  }
  .forgot{
      text-align: center !important;
      color: rgb(114, 167, 218) !important;
      cursor: pointer;
  }
  .forgot:hover{
      text-decoration: underline !important;
  }
  .yet{
    text-align: center !important;
    display: block;
    align-items: center;
  }
.spacee{
    margin-top: 30px !important;
}



